/* General styling that applies to all pages */
body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

header > h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.blog-post {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.date {
  color: #555;
}
